.project-container {
	color: #484848;
	text-decoration: none;
	max-width: 900px;
	margin: 0 auto;
}

.project {
	color: #000;
}

.project-content a {
  color: #484848;
  text-decoration: none;
  border-bottom: 1px solid #dedede;
}

.project-content a:hover {
  border-bottom: 1px solid #484848;
  transition: border-bottom 0.1s;
}

.project-content #TopLinks {
	margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: solid 0.1rem #dedede;
}

.project-content #TopLinks a {
  margin-left: 1rem;
}
